<!DOCTYPE html>
<html>
  <head>
    <title>Categoria - Gerenciar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@700&family=Parisienne&family=Cinzel+Decorative:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'menu_app.html' %}

    <h1>Categoria - Gerenciar</h1>
    <section class="form-section">
      <form id="formCategoria">
        <input type="hidden" id="idcategoria" />

        <label for="nome">Nome:</label>
        <input id="nome" type="text" placeholder="Nome" />
        <div class="form-bottom">
          <button type="submit">Salvar</button>
          <button type="reset">Cancelar</button>
        </div>
        <div id="alerta" style="display: none"></div>
      </form>
    </section>

    <section class="table-section">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Categoria</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody id="listaCategoria"></tbody>
      </table>
    </section>

    <!-- Modal de confirmação -->
    <div
      id="modal-confirmacao-categoria"
      class="modal-overlay"
      style="display: none"
    >
      <div class="modal-box">
        <p id="modal-mensagem-categoria">
          Tem certeza que deseja excluir esta categoria?
        </p>
        <div class="modal-botoes">
          <button type= "button" id="btn-confirmar-categoria" class="btn-excluir">
            Confirmar
          </button>
          <button type="button" id="btn-cancelar-categoria" class="btn-editar">
            Cancelar
          </button>
        </div>
      </div>
    </div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/categorias.js') }}"></script>
  </body>
</html>
